<a href="https://colab.research.google.com/github/misogynyX/Data_reclassification/blob/master/(1)%EC%98%A4%EB%B6%84%EB%A5%98%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# articles.csv 데이터셋의 오분류를 처리하는 노트북입니다.

여성문제를 다루는 기사 기준:
1. 여성범죄는 여성문제로 봅니다.
2. 저출산, 고령화 문제는 여성 문제로 보지 않습니다.('저출산' 단어가 잘못된 경우이므로)
3. 단, 저출생과 여성의 경력 단절이 함께 언급될 경우 여성문제로 봅니다.(논의 필요)
4. 여성의 코르셋을 조장하는 기사는 <언론이또>가 다루지 않으므로 우선 여성문제에서 제외했습니다.
5.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import numpy as np
from copy import copy

In [0]:
# csv 파일 불러오기
import pandas as pd
articles = pd.read_csv("/content/drive/My Drive/Colab Notebooks/NLP_again_project/articles.csv") # pd.read_csv() 안에 articles.csv 파일 경로를 넣어줍니다.
articles.head()

          article_id cp_name  ... tags label
0  20160101000010878   아시아경제  ...  NaN     0
1  20160101000015884   아시아경제  ...  NaN     0
2  20160101000019894     뉴스1  ...  NaN     0
3  20160101000019895     뉴스1  ...  NaN     0
4  20160101000021904    경향신문  ...  NaN     0

[5 rows x 9 columns]

In [0]:
sample = copy(articles)
sample1 = sample[sample['label'] == 1]

# lable == 1 인 1000개 
sample11 = sample1[:1000]

# label == 1 and tags != gender # gender 는 대부분 오분류 상태이므로 대상에서 제외합니다.
sample1 = sample1[sample1['tags'] != 'gender']
# sample1 = txt_preprocessing(sample1)
sample1.tail()
sample1.shape

(24158, 9)

### 재분류가 필요한 idx는 다음과 같이 리스트 형태로 저장해 주세요

error_idx = [82, 93, 136, 242, 246, 315, 351, 444, 556, 613, 712, 776]

In [0]:
def corr_idx (error_idx,df):
  """idx를 이용하여 잘못 구분된 라벨 수정하는 코드"""

  error_id = list(sorted(set(error_idx)))
  df.loc[error_idx,'label'] = 0

In [0]:
error_idx =[82, 93, 136, 242, 246, 315, 351, 444, 556, 613, 712, 776]

corr_idx(error_idx,sample1)

# 1로 label 된 기사를 확인합니다.

In [0]:
# 기사 내용과 label을 확인하는 코드
""" text는 기사 제목+내용  입니다. text와 label을 확인하고 여성문제가 아닐 경우 error_idx list 에 수동으로 추가합니다.. """
sample1.iloc[30:33]

             article_id cp_name  ...        tags label
4124  20160105091006641     KBS  ...  profession     1
4282  20160105114518808    문화일보  ...     bearing     1
4362  20160105130728708     KBS  ...  profession     1

[3 rows x 9 columns]

In [0]:
error_idx = [82, 93, 136, 242, 246, 315, 351, 444, 556, 613, 712, 776, 1098, 1141, 1172, 1178, 1224, 1249, 1319, 1483, 1507, 1621, 1702, 1750, 2460, 2549, 2562, 2796, 2850, 2864, 2892, 2925, 3015, 1750	, 2549, 2562,2796, 2864, 2925, 3200, 2796, 4645, 4375, 4362, 4124, 4043, 3947, 3887, 3863, 3781, 3395, 3353, 3201,4652, 4704, 4785, 4834, 4855, 5112, 5284, 5351,5435, 5773, 5936, 6389, 6418, 6492, 6567, 6825, 6829, 6891, 7910, 8050, 8425, 8708, 8775, 8870, 9083, 9467, 9482, 9596, 9710, 10142, 10184, 10577, 10603, 11071, 11312, 11349, 11661, 11663, 11670, 11721, 11724, 11799, 11834, 12142, 12164, 12251, 12752, 12930, 12967, 13161, 13205, 13412, 13459, 13541, 13585, 13643, 13669, 13804, 13827, 13863, 13988, 14024, 14064, 14249, 14292, 14459, 14589, 14590, 14598, 14628, 14667, 15050, 15088, 15507, 15622, 15630, 15636, 15721, 15849, 16007, 16195, 16322, 16365, 16453, 16503, 16524, 16559, 16800, 16801, 16802, 16803, 16804, 16917, 17189, 17201, 17213, 17499, 17856, 17899,18024, 18181, 18205, 18208, 18304, 18360, 18415, 18845, 19151, 19400, 19700, 19909, 19997, 20069, 20110, 20111, 20133, 20242, 20247, 20353, 20705, 21281, 21300, 21371, 21430, 21843, 22081, 22324, 22495, 22565, 22702, 22818, 22918, 22919, 22921, 22966, 23027, 23287, 23411, 23562, 23577, 23762, 23808, 24332, 24585, 24693, 24596, 24694, 24695, 24699, 24995, 25089, 25139, 25227, 25245, 25322, 25359, 25480, 25489, 25507, 25677, 25736, 25833, 25875, 25930, 26227, 26285, 26612, 26773, 26775, 26822, 26858, 26920, 26938, 26948, 26987, 27294, 27367, 27398, 27662, 27831, 27912, 28123, 28297, 28324,  28332, 28643, 28655, 28802, 28809, 28849, 28909, 29092, 29137, 29153, 29279, 29298, 29391, 29628, 29763, 29817, 29878, 29904, 30003, 30117, 30256, 30312, 30339, 30467, 30524, 30591, 30644, 30713, 30754, 30822, 30862, 30871, 30917, 30939, 31014, 31073, 31162, 31545, 31594, 31752, 31782, 31834, 31921, 32126, 32186, 32551, 32585, 32691, 32715, 32854, 32944, 32965, 33152, 33338, 33361, 33412, 33432, 33570, 33604, 33663, 33616, 33661, 33854, 33907, 33927, 34021, 34030, 34092, 34334, 34395, 34419, 34498, 34538, 34672, 34841, 34847, 34931, 34960, 34993, 35026, 35090, 35179, 35226, 35285, 35286, 35287, 35291, 35292, 35293, 35294, 35295, 35322, 35344, 35403, 35488, 35768, 35858, 36034, 36187, 36198, 36402, 36501, 36606, 36639,36736, 36746, 36802, 36891, 36969, 37148, 37231, 37563, 37619, 37720, 37763, 38079, 38096, 38162, 38371, 38391, 38426, 38439, 38447, 38551, 38585, 38588, 38592, 38697, 38737, 38804, 38822, 38840, 39061, 39288, 39298, 39361, 39370, 39372, 39381, 39396, 39421, 39527, 39563, 39650, 39831, 40046, 40062, 40093, 40111, 40210, 40389, 40464, 40606, 40613, 40628, 40637, 40790, 40810, 40885, 41231, 41329, 41425, 41524, 41618, 41734 , 41936, 41937, 42101, 42447, 42522, 42554, 42607, 42659, 42635, 42703, 42720, 43021, 43096, 43181, 43242, 43315, 43512, 43585, 43686, 43966, 44176, 44187, 44402, 44498, 44572, 44889, 44974, 45110, 45111, 45112, 45177, 45258, 45287, 45368, 45379, 45406, 45415, 45430, 45451, 45491, 45496, 45520, 45529, 45551, 45574, 45590, 45614, 45622, 45626, 45631, 45644, 45652, 45653, 45657, 45706, 45725, 45732, 45764, 45765, 45776, 45786, 45831, 45832, 45833, 45871, 45879, 45917, 45938, 46039, 46048, 46077, 46078, 46100, 46110, 46132, 46137, 46171, 46174, 46176, 46183, 46208, 46226, 46230, 46235, 46273, 46284, 46295, 46303, 46313, 46353, 46374, 46425, 46454, 46470, 46479, 46487, 46494, 46514, 46518, 46522, 46523, 46579, 46606, 46624, 46635, 46643, 46659, 46661, 46672, 46688, 46691, 46716, 46738, 46739, 46747, 46779, 46789, 46843, 46860, 46869, 46872, 46875, 46891, 46992, 47020, 47049, 47050, 47051, 47067, 47068, 47069, 47082, 47085, 47086, 47087, 47098, 47186, 47226, 47289, 47329, 47340, 47433, 47441, 47551, 47557, 47611, 47614, 47633, 47693, 47709, 47848, 48092, 48310 , 48341, 48489, 48497, 49055, 49071, 49074, 49092, 49142, 49322, 49448, 49503, 49519, 49746, 50053, 50347, 50371, 50430, 50737, 50783, 50784, 50840, 50983, 50996, 50997, 50998, 51005, 51045, 51049, 51136, 51178, 51278, 51349, 51357, 51457, 51470, 51488, 51528, 51542, 51598, 51602, 51766, 51883, 51948, 51971, 52310, 52311, 52319, 52335, 52428, 52662, 52748, 52749, 52814, 52861, 52968, 53075, 53099, 53120, 53134, 53232, 53326, 53395, 53410, 53435, 53450, 53484, 53613, 53616, 53633, 53746, 53927, 53975, 53996, 54013, 54015, 54043, 54109, 54352, 54393, 54453, 54536, 54582, 55163, 55167, 55168, 55192, 55229, 55280, 55281, 55282, 55288, 55443, 55697, 55702, 55862, 55916, 55927, 55968, 56112, 56576, 56708, 56917, 57015, 57383, 57574, 57722, 57785, 57926, 58016, 58076, 58082, 58172, 58233, 58372, 58549, 58688, 58923, 58933, 58942, 59063, 59144, 59257, 59279, 59398, 59515  ]


corr_idx(error_idx,sample11)

In [0]:
error_idx =[61245, 61372, 61885, 59675, 59777, 59801, 59987, 60457, 60651, 60827, 60875, 60918, 60989, 61885, 62618, 62904, 63058, 63194, 63244, 63252, 63261, 63372, 63541, 63612, 63698, 63703, 63951, 63997, 64054, 64338, 64827, 64863, 65182, 65237, 65271, 65420, 65486, 66253, 66723, 66780, 66808, 66957, 67039, 68780, 68789, 68911, 69245, 69464, 69534, 70091, 70182, 70285, 70457, 70516, 70558, 70680, 71447, 72154, 73063, 73309, 73331, 73455, 73800, 73807, 73995, 74853, 74948, 75395, 75639, 76355, 76455, 76654, 76811, 77325, 77559, 77956, 78415, 78520, 78677, 80317, 80728, 80898, 81391, 81828, 81861, 82175, 82234, 82239, 82241, 82318, 82678, 82714, 83123, 83292, 83395, 84507, 84683, 84875, 84912, 84963, 85380, 85578, 85684, 85712, 85855, 85922, 86003, 86454, 87442, 87527, 88040, 88093, 88981, 89043, 89044, 89151, 89264, 89633, 89808, 89971, 90017, 90245, 90403, 90538, 90541, 90660, 90953, 91042, 91275, 91357, 91537, 92082, 92197, 92398, 95479, 95706, 95735, 95829, 95937, 96024, 96084, 96625, 97050, 97081, 97770, 98008, 98018, 98336, 98772, 99265, 99686, 99819, 100075, 100086, 100390, 100636, 100879, 101132, 101135, 102220, 102644, 103099, 103383, 103456, 103593, 103891, 104212, 104396, 105550, 105698, 105884, 106077, 106249, 106568, 107327, 107481, 107835, 108028, 108654, 108953, 108976, 109402, 109995, 
            110080, 110143, 110238, 110437, 110516, 110750, 110778, 110787, 110846, 110977, 111164, 110977, 110776, 110778, 110787, 110846, 110977, 111074, 111105, 111294, 111435, 111499, 111507, 111548]
error_idx += [61885, 62618, 62904, 63058, 63194, 63244, 63252, 63261, 63372, 63541, 63612, 63698, 63703, 63951, 63997, 64054, 64338, 64827, 64863, 65182, 65237, 65271, 65420, 65486, 66253, 66723, 66780, 66808, 66957, 67039, 68780, 68789, 68911, 69245, 69464, 69534, 70091, 70182, 70285, 70457, 70516, 70558, 70680, 71447, 72154, 73063, 73309, 73331, 73455, 73800, 73807, 73995, 74853, 74948, 75395, 75639, 76355, 76455, 76654, 76811, 77325, 77559, 77956, 78415, 78520, 78677, 80317, 80728, 80898, 81391, 81828, 81861, 82175, 82234, 82239, 82241, 82318, 82678, 82714, 83123, 83292, 83395, 84507, 84683, 84875, 84912, 84963, 85380, 85578, 85684, 85712, 85855, 85922, 86003, 86454, 87442, 87527, 88040, 88093, 88981, 89043, 89044, 89151, 89264, 89633, 89808, 89971, 90017, 90245, 90403, 90538, 90541, 90660, 90953, 91042, 91275, 91357, 91537, 92082, 92197, 92398, 95479, 95706, 95735, 95829, 95937, 96024, 96084, 96625, 97050, 97081, 97770, 98008, 98018, 98336, 98772, 99265, 99686, 99819, 100075, 100086, 100390, 100636, 100879, 101132, 101135, 102220, 102644, 103099, 103383, 103456, 103593, 103891, 104212, 104396, 105550, 105698, 105884, 106077, 106249, 106568, 107327, 107481, 107835, 108028, 108654, 108953, 108976, 109402, 109995, 110080, 110143, 110238, 110437, 110516, 110750, 110778, 110787, 110846, 110977, 111164, 110977, 110776, 110778, 110787, 110846, 110977, 111074, 111105, 111294, 111435, 111499, 111507, 111548, 111672, 111817, 112199, 112413, 113458, 113602, 113744, 114981, 115191, 115737, 116294, 116602, 117082, 117363, 118660, 119051, 119490, 119572, 119606, 119704, 119762, 119898, 120066, 120136, 120152, 120379, 120500, 120987, 121206, 121285, 121288, 121391, 121475, 121546, 121923, 122127, 122454, 123091, 123967, 124037, 124132, 124806, 125259, 125378, 125863, 126076, 126213, 126947, 126958, 128076, 129019, 130059, 130308, 130316, 130475, 130680, 130754, 130888, 130891, 131224, 131226, 131616, 132243, 132308, 132540, 132545, 132584, 132981, 133248, 133328, 133956, 133972, 134165, 134194, 134668, 134930, 135006, 135058, 135063, 135587, 135937, 136073, 136110, 136233, 136258, 136304, 136480, 136529, 136576, 136680, 136721, 139302, 136752, 136800, 80317, 80728, 80898, 81391, 81828, 81861, 82027, 136981, 137179, 137194, 137343, 137387, 137503, 137603, 138258, 138534, 138853, 138890, 138919, 138927, 139027, 139214, 139529, 139617, 139778, 140017, 140140, 140491, 140528, 140539, 140558, 140624, 140634, 140652, 140957, 140986, 141035, 141062, 141137, 141433, 141911, 141994, 142991, 143328, 143416, 143836, 143921, 143933, 144974, 145014, 145431, 145697, 146036, 146279, 146488, 146720, 146721, 146777, 147101, 147634, 147677, 147779, 147889, 147921, 148294, 148423]


corr_idx(error_idx,sample1)
sample12 = sample1[:699]

In [0]:
def txt_preprocessing(sample):
    sample.drop(['article_id','cp_name','authors','keywords','date','url','tags'],axis = 1, inplace = True)
    sample['text'] = sample['text'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣0-9a-zA-Z ]","")
    sample['text'] = sample['text'].str.lower()
    
    return sample

In [0]:
sample_test1 = pd.concat([sample11,sample12])
len1 = int(len(sample_test1)*1.5)
sample_test0 = copy(sample[sample['label']==0])
sample_test0 = sample_test0[sample_test0['tags']!= 'gender'][:len1]
# corr_idx(error_idx,sample_test1)

sample_test15 = pd.concat([sample_test1,sample_test0],ignore_index=True)

In [0]:
# sklearn으로 셔플하기
from sklearn.utils import shuffle
sample_test15 = shuffle(sample_test15)

In [0]:
# sample(frac=1 )으로 셔플하기
for _ in range(500):
  sample_test15 = sample_test15.sample(frac=1).reset_index(drop=True)

In [0]:
sample_test15=sample_test15.sample(frac=1).reset_index(drop=True)
txt_preprocessing(sample_test15)
sample_test15.head(30)

                                                 text  label
0   삶과 추억 추억의 마구왕 독고탁 아빠하늘로 은퇴독고탁 캐릭터로 유명한 만화가 이상무...      0
1   새해 소망 빌어요 울산 간절곶 해맞이 인파 인산인해앵커 시청자 여러분 안녕하십니까 ...      0
2   품성은 금메달 아냐사재혁 후배 전치 6주 폭행 앵커멘트 2008년 베이징올림픽 남자...      0
3   독사에 물리고도 공연 이어가 인니 profession여가수profession 끝내 ...      0
4   직업계 고교생 30로 늘려 대학진학률 낮춘다2022년까지 특성화고교마이스터고교 등 ...      1
5   대통령 4년차새해 국정운영 방향은경제 활성화일자리 창출뉴시스정일환 기자  박근혜 대...      0
6   스마트폰이 되고 싶은 아이스마트폰을 놓지 못하는 부모서울신문 나우뉴스 엄마 아빠가 ...      1
7   모바일 신인류 k세대 백마디 말보다 이모티콘 하나상형문자 세대 1 남자  집에 잘 ...      0
8   인도서 흑인 gender여대생gender 몰매봉변 당해외교문제 비화뉴델리연합뉴스 나...      0
9   뉴스 따라잡기 골프채가 부러질 때까지 이번엔 demonize악마demonize 선배...      0
10  류정한조정은 골든티켓어워즈 뮤지컬 남녀배우상 지난해 1년 동안 뮤지컬에서 대중적으로...      1
11  단독 전교생 120명 안되는 시골 초등교 통폐합교육부가 올해부터 소규모 학교의 통폐...      1
12  경기도의회 누리과정 충돌 유혈사태결국 준예산 돌입 경기도와 도 교육청이 사상 초유의...      0
13  평균나이 50대 중반 늦깎이 여중gender여고생gender의 특별한 졸업식부산연합...      0
14  윤미래백지영실력파 가수들 귀환앵커 멘트 봄을 앞두고  음반 시장 경쟁이 치열한데요 ...      0
15  단독마유크림 싸졌다 짝퉁의 장난한국산 마유 크림이중국인들을 사로 잡자 정품 가격의 ...      0
16  중국의 원숭이해 기념동전무려 1800만원짜리서울신문 나우뉴스 2016년 병신년을 맞...      0
17   손잡은 웹젠 김병관  사장인 회사는 가고싶지 않아 견제 40대 벤처기업가 영입 청...      0
18  환호와 설렘 지구촌 새해맞이 곳곳 테러 위협도 앵커  전세계 주요 도시에서 다양한 ...      0
19  새누리당 의원들에게 섭섭함 표하는 이옥선 할머니광주뉴시스이영환 기자  새해 첫날인 ...      0
20  르노삼성 gender여직원gender 성희롱 사건 결국 대법원으로 피해자들 고통 가...      1
21  쟁점법안 직권상정 내몰린 정의화 새누리당과 결별할까 the300vs정의화 극한 대립...      0
22  단독빗자루 전에도 학생들이 교사 폭행경기도의 한 고등학교 학생 4명이선생님을 빗자루...      0
23  profession여의사profession 50 육아휴직 잘 모른다출산 전후 휴가와...      1
24  여론조사  안철수 신당 총선 최대 변수앵커 멘트 kbs가 신년을 맞아  여론조사를 ...      0
25  백골 상태 gender여중생gender 시신 발견피의자는 부모 앵커멘트 경기도 부천...      0
26  김현주의 일상 톡톡 제발 이런저런 걱정없이 아기 좀 낳을 수 있었으면지난해 출생아 ...      0
27  히말라야의 힘12월 한국영화 관객 점유율 역대 최고전체 관객 수는 4년 만에 최소 ...      0
28  부모님 드리려고 명절마다 선물세트 훔친 취업준비생작년 설부터 한우세트 등 4차례얼굴...      0
29  노사정 대타협 파기되나연초부터 갈등 고조양대지침 발표에 한노총 파기 수순 밟아민노총...      0

In [0]:
from google.colab import files
import pickle
import os

try: 
  with open('/content/drive/My Drive/Colab Notebooks/NLP_again_project/recl_data.pickle','wb') as tk_NLP:
    pickle.dump(sample_test15,tk_NLP)
except : 
  # NLP_again_project 폴더를 생성합니다.
  os.mkdir('/content/drive/My Drive/Colab Notebooks/NLP_again_project/')
  with open('/content/drive/My Drive/Colab Notebooks/NLP_again_project/recl_data.pickle','wb') as tk_NLP:
    pickle.dump(sample_test15,tk_NLP)