<a href="https://colab.research.google.com/github/misogynyX/Data_reclassification/blob/master/(2)train_test%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%82%98%EB%88%84%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
import pickle

In [0]:
import numpy as np
from copy import copy

In [0]:
def load_df(root):
  """ 
  input : (str) 피클 저장 경로
  output : (dataframe) 오분류처리.ipynb을 이용하여 articles.csv 를 재분류한 DataFrame
  
  오분류처리.ipynb을 이용하여 articles.csv 를 재분류한 DataFrame 을 저장한 피클 파일 저장 경로를 받아 DafaFrame 객체를 로드한다 
  
  """
  
  with open(root,'rb') as reclassification_DF:
    data = pickle.load(reclassification_DF)
  return data

In [0]:
sample_test = load_df('/content/drive/My Drive/Colab Notebooks/NLP_again_project/recl_data.pickle')

In [6]:
sample_test.head()

                                                text  label
0  언포게터블 가수 나탈리 콜 사망향년 65세앵커 rb 소울 팝 이렇게 다양한 장르를 ...      0
1  12월 03일 18시 04 경찰 성남어린이집 성관련 사고 내사사실관계 확인 필요뉴스...      1
2  이웃집 demonize괴물demonize 7번 막을 기회 있었다17일 새벽 경남 진...      1
3  끊이지 않는 아동학대 부모 탈 쓴 demonize악마demonize전국 곳곳 활개 ...      1
4  안개 속 고속버스끼리 쾅40여 명 사상 앵커멘트 오늘1일 오전 호남고속도로 상행선 ...      0

In [0]:
def csv_to_file(root, ratio, _DataFrame):
  """
  input : 
  - root: (str) 파일을 저장할 폴더 경로
  - ratio: (float) 전체 데이터 크기 대비 train data 의 비율 ( 0.8 -> train : test = 80 : 20 )
  - _DafaFrame : (pandas.DataFrame) 전체 데이터셋이 저장되어 있는 dataframe 객체

  데이터셋 dataframe을 받아 train_data.csv 와 test_data.csv 파일로 나눠서 저장한다.
  
  """

  a = int(len(_DataFrame)*ratio)

  train_df = _DataFrame[:a]
  test_df = _DataFrame[a:]

  trainPATH = root + 'train_data.csv'
  testPATH = root + 'test_data.csv'

  train_df.to_csv(trainPATH, index=False)
  test_df.to_csv(testPATH, index=False)

In [0]:
savePATH = '/content/drive/My Drive/Colab Notebooks/NLP_again_project/'
csv_to_file(savePATH, 0.8, sample_test)